.donations-container {
  display: flex;
  flex-direction: column;
}
.donations-header-container {
  display: flex;
}
.donations-steps {
  display: flex;
  margin: 20px;
}
.donations-background {
  background-image: url("../assets/Form-Hero-Image.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 0;
  width: 100vh;
  height: 84vh;
}
.donations-main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.donations-main-header {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 400;
  font-family: $font-base;
  color: $color-black;
}
.donations-header-steps {
  font-size: 1.7rem;
  margin-bottom: 20px;
  font-weight: 300;
  color: $color-gray;
}
.step-counter {
  padding: 20px 0 20px 100px;
  color: $color-gray;
}
.step-area {
  background-image: url(../assets/Background-Form.jpg);
  background-color: #e8e7e2;
  background-position: right 0;
  background-repeat: no-repeat;
  background-size: contain;
  height: 80vh;
}
.step-details {
  width: 40%;
  height: 70%;
  margin-left: 100px;
}
.steps-nav {
  margin: 20px 0 0 5%
}


.donations-rotated-square {
  width: calc(4vw + 4vh);
  height: calc(4vw + 4vh);
  border: 1px solid $color-gray;
  transform: rotate(45deg);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: $color-gray;
  margin: calc(0.2vw + 0.2vh);
}
.donations-rotated-square-text {
  font-size: 0.9rem;
}
.donations-rotated-square p {
  text-align: center;
}
.donations-rotated-square-number {
  transform: translateY(-10px);
  font-size: 1.5rem;
}
.donations-rotated-square div {
  transform: rotate(-45deg);
}
.steps-header {
  background-color: $color-yellow;
  padding: 40px 100px;
}
.step-h1 {
  font-size: 1.5rem;
}
.step-button {
  padding: 8px 16px;
  background-color: transparent;
  border: 1px solid $color-gray;
  font-family: $font-base;
  font-size: 0.8rem;
  cursor: pointer;
}
.radioText {
  display: inline-block;
 padding: 10px;
}
.step-header {
  font-size: 1.4rem;
  font-weight: 500;
}
.step-small-header {
  font-size: 1rem;
  font-weight: 600;
  padding: 10px 10px 10px 0;
}
.select-location {
  margin: 10px 10px 10px 0;

}
select {
  background-color: transparent;
  width: 160px;
}
input[type=text] {
  background-color: transparent;
  border: 1px solid $color-gray;
  width: 300px;
}
form {
  color: $color-black
}
