.three-columns__container {
  background-image: url("../assets/Home_-_ThreeColumns.png");
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.three-columns__column {
  color: mix($color-gray, $color-black);
  width: 20%;
  text-align: center;
}

.three-columns__number,
.three-columns__title,
.three-columns__text {
  margin: 15px 0;
  font-weight: 300;
}

.three-columns__number {
  font-size: 5rem;
  margin-top: 40px;


}

.three-columns__title {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 500;
}

.three-columns__text {
  font-size: 0.9rem;
  line-height: 1.3rem;
  margin-bottom: 60px;
}

@media (max-width: 650px) {
  .three-columns__container {
    flex-direction: column;
  }

  .three-columns__column {
    width: 80%;
  }

  .three-columns__title {
    font-size: 2rem;
  }

  .three-columns__text {
    font-size: 1.4rem;
    line-height: 30px;
  }
}