.aboutus__container,
.aboutus__article {
  display: flex;
}

.aboutus__container {
  height: 100vh;
  min-height: 500px;
  width: 100%;
}

.aboutus__article {
  background-color: $color-white;
  box-sizing: border-box;
  width: 50%;
  min-height: 500px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: $color-black;
  padding: 10px 20px;
}

.aboutus__title {
  font-size: 2.3rem;
  font-weight: 500;

}

.aboutus__text {
  font-size: 1.7rem;
  text-align: center;
  line-height: 3rem;
}

.aboutus__picture {
  background-image: url("../assets/People.jpg");
  background-size: cover;
  background-position: center;
  width: 50%;
  height: 100%;
}

@media (max-width: 650px) {
  .aboutus__picture {
    display: none;
  }

  .aboutus__article {
    width: 100%;
  }
}