.header__container {
  height: 100vh;
  min-width: 300px;
  min-height: 450px;
  display: flex;
}

.header__image {
  width: 45%;
  height: 100vh;
  background-image: url("../assets/Home-Hero-Image.jpg");
  background-size: cover;
  background-position: right 0;
  background-repeat: no-repeat;
  z-index: 1;
}

.header__article {
  width: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  color: $color-black;
  padding-bottom: 10%;
}

.header__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2.2rem;
  text-align: center;
  padding: 0 20px;
}

.home-header-line {
  background-image: url("../assets/Decoration.svg");
  background-repeat: no-repeat;
  width: 253px;
  height: 33px;
  margin-top: 30px;
  margin-bottom: 50px;
}

.header__links {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.header__link {
  display: block;
  box-sizing: border-box;
  text-decoration: none;
  color: $color-black;
  font-size: 2rem;
  font-weight: 100;
  text-transform: uppercase;
  border: 1px solid $color-black;
  width: 40%;
  padding: 20px;
  text-align: center;
}

@media (max-width: 1024px) {
  .header__link {
    font-size: 1.5rem;
  }

  .header__text {
    font-size: 1.7rem;
  }
}

@media (max-width: 650px) {
  .header__article {
    width: 100%;
    padding: 100px 0 20vh 0;
  }

  .header__image {
    display: none;
  }
}