.menu {
  position: absolute;
  right: 9%;
  top: 4%;
  z-index: 1000;
}

.menu__login {
  display: flex;
  list-style: none;
  justify-content: flex-end;
}

.menu__login--link {
  text-decoration: none;
  color: $color-gray;
  font-size: 0.8rem;
}

.menu__login--welcome {
  color: $color-black;
  font-size: 0.8rem;
}

.menu__logout {
  background-color: transparent;
  border: none;
  font-family: $font-base;
  color: $color-black
}

.menu__button--active {
  border: 1px solid $color-yellow;
}

.menu__element {
  font-size: 0.8rem;
  padding: 5px 7px;
  margin: 0 5px;
}

.main-menu {
  margin-top: 20px;
  display: flex;
  list-style: none;
}

.main-nav {
  display: block;
}

.main-menu__link {
  cursor: pointer;
  font-size: 1.15rem;
  color: $color-black;
  text-decoration: none;
}

.main-menu__element {
  margin-left: 27px;
  padding: 7px;
}

.main-menu__link--active {
  border: 1px solid $color-black;
  padding: 7px 17px;
}

// .hamburger-menu {
//   display: none;
// }

@media (max-width: 650px) {
  .main-menu {
    display: none;
  }

  /* Position and sizing of burger button */
  .bm-burger-button {
    position: absolute;
    width: 36px;
    height: 30px;
    right: 9%;
    top: 60px;
  }

  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: $color-black;
  }

  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
    background: $color-yellow;
  }

  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }

  /* Color/shape of close button cross */
  .bm-cross {
    background: #bdc3c7;
  }

  /*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
  }

  /* General sidebar styles */
  .bm-menu {
    background: #373a47;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
  }

  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: $color-gray;
  }

  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
    padding: 10%;
    font-size: 1.6rem;
  }

  /* Individual item */
  .bm-item {
    display: inline-block;
    padding: 10px;
    cursor: pointer;
  }

  /* Styling of overlay */
  .bm-overlay {
    background: $color-white;
  }

  .hamburger-menu__link {
    color: white;
  }
}