@import "settings/_reset.css";
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700|Open+Sans:300,400,600,700&display=swap&subset=latin-ext');
@import "settings/_fonts.scss";
@import "settings/_colors.scss";
@import "menu";
@import "homeHeader";
@import "homeThreeColumns";
@import "homeSteps";
@import "homeAboutUs";
@import "homeFoundations";
@import "homeContact";
@import "login";
@import "logout";
html {
    font-size: calc(8px + (0.3vw + 0.3vh));
}

body {
  font-family: $font-base;
}
div {
  font-family: $font-base;
}
